{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="form-group">
            <select name="symbol" value="Symbol">{% for stock in stocks %}<option value="{{stock}}">{{stock}}</option>{% endfor %}</select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
